<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include("layout/jsCss") -%>
</head>

<body>
  <!-- 公用header -->
  <%- include("layout/header") -%>
    <section id="container" class="container">
      <div class="main vivify animationObject ball">
          <div class="detail-box">
            <div class="movie-box">
                <div class="box-left">
                    <img src=<%= res.img %> alt="">
                </div>
                <ul class="box-right">
                  <li class="name"><%= res.name %></li>
                  <li class="year"><label>上映时间：</label><span><%= res.year %></span></li>
                  <li class="year"><label>地区：</label><span><%= res.area %></span></li>
                  <li class="classify">
                      <label>类型：</label>
                      <% res.classify.forEach(function(o,i){ %>
                      <span><%= o %></span>
                      <% }) %>
                  </li>
                  <li class="director">
                      <label>导演：</label>
                      <% res.director.forEach(function(o,i){ %>
                      <span><%= o %></span>
                      <% }) %>
                  </li>
                  <li class="actor">
                      <label>演员：</label>
                      <% res.actor.forEach(function(o,i){ %>
                        <% if(i<8){ %>
                            <span><%= o %></span>
                        <%  } %>
                      <% }) %>
                  </li>    
                  <li class="actor">
                      <label>剧情：</label>
                      <span><%= res.intro.substr(0,70) %>......<a class="look-detail">查看详情</a></span>
                  </li> 
                </ul>  
            </div>
            
            <div class="msg-text vivify animationObject">
              <h3 class="line-title">精彩剧情</h3>
              <p><%= res.intro %></p>
            </div>
            <div class="bili-box">
                <h3 class="line-title">B站锦集</h3>
                <ul class="bili-block" id="Bili"></ul>
            </div>
            <div class="down-url">
              <h3 class="line-title">下载地址</h3>
              <% res.url.forEach(function(o,i){ %>
              <div>
                <% o.forEach(function(m,i){ %>
                  <span><%= m.title %></span>
                  <span><%= m.url %></span>
                <% }) %>
                </div>
              <% }) %>
            </div>
        </div>
      </div>
    </section>
    <!-- main JS -->
    <%- include("layout/mainScript",{name:'home'}) -%>
    <script>
      $.rich.fetchbili();
    </script>
</body>
</html>
